<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Preferred contact:</b>
  <%= @person.preferred_contact %>
</p>

<p>
  <% if @person.under_three %>
    <b>Guest is younger than 3 years old.</b>
  <% else %>
    <b>Guest is older than 3 years old.</b>
  <% end %>
</p>


<%= link_to 'Edit', edit_booking_person_path(@booking, @person), class: "button"%> 
<%= link_to 'Back', @booking, class: "button" %>
