<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Preferred contact:</b>
  <%= @person.preferred_contact %>
</p>

<p>
  <b>Over three:</b>
  <%= @person.over_three %>
</p>


<%= link_to 'Edit', edit_booking_person_path(@booking, @person) %> |
<%= link_to 'Back', @booking %>
