<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @booking.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @booking.end_time %>
</p>

<p>
  <b>Num people:</b>
  <%= @booking.num_people %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
