<h1 class="content-header">Trip on <%= @booking.start.strftime("%m/%d/%Y") %></h1>
<div class="center-content form-content">
  
    <p>To add yourself to this trip, click the book button below.
      Please add a booking for each person you will be bringing with you, 
      even children, so we can ensure there is enough room and food!
    </p>

  <div class="form">
    <!--<p id="notice"><%= notice %></p>-->
    <% if flash[:alert] %>
      <p class="flash-error"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p id="notice" class="flash-notice"><%= flash[:notice] %></p>
    <% end %>
    <p>
      <b>Start time:</b>
      <%= @booking.start.strftime("%l:%M:%S %p") %>
    </p>

    <p>
      <b>End time:</b>
      <%= @booking.end.strftime("%l:%M:%S %p") %>
    </p>

    <!--
    <p>
      <b>Num people:</b>
      <%= @booking.num_people %>
    </p>
    -->

    <p>
      <b>Spots Available:</b>
      <% if @booking.areSpotsAvailable %> 
        <%= @booking.getSpotsAvailable %> 
      <% else %>
        Trip is Full
      <% end %>
    </p>

    <p>
      <b>Booked Guests:</b>
      <ul>
      <% @booking.people.each do |p| %>
        <li><%= link_to "#{p.first_name} #{p.last_name}", booking_person_path(@booking, p) %> | <%= link_to 'Remove', booking_person_path(@booking, p), confirm: "Are You Sure", method: :delete %></li> 
      <% end %>
      </ul>
      <% if @booking.people.empty? %>
        <em>No Guests</em>
      <% end %>
    </p>

    <div class="action-buttons">
      <% if @booking.areSpotsAvailable %> 
      <%= link_to 'Book', new_booking_person_path(@booking), class: "button" %> 
      <% else %>
      <%= link_to 'Book Under 3 Only', new_booking_person_path(@booking), class: "button" %>
      <% end %>
      <%= link_to 'Edit', edit_booking_path(@booking), class: "button" %>
      <%= link_to 'Back', bookings_path, class: "button"%>
    </div>
  </div>
</div>
