<!DOCTYPE html>
<html>
<head>
  <title>PerseveranceBoat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=10.0; user-scalable=1;" />
</head>
<body>

<div class="page-body">
  <div class="header">
    <div class="left">
        <div class="icon">
          <%= link_to "Perseverance", root_url %>
        </div>
    </div>
    <div class="right">
      <span id="book-nav-link" class="nav-link"><%= link_to "Book", bookings_path %></span>
      <span id="rules-nav-link" class="nav-link">Rules</span>
      <span id="gallery-nav-link" class="nav-link">Gallery</span>
      <span id="admin-nav-link" class="nav-link">Admin</span>
    </div>
  </div>

  <div class="center-content content block-corner-large-bottom">
    <%= yield %>
  </div>
</div>

</body>
</html>
